header {
  font-family: avenir;
  font-weight: bold;
  border-bottom: 2px;
  border-bottom-style: double;
  border-bottom-color:forestgreen;
}

header img {
  width: 120px;
  max-width: 30%;
  height: auto 
}

p.post {
  font-size: 12px;
}

footer {
  margin-bottom: 5px;
  background-color:palegreen;
  color:white;
}