* {
  font-family:avenir;
}

header {
  font-weight:bold;
  border-bottom: 2px;
  border-bottom-style: double;
  border-bottom-color:forestgreen;
  padding:20px;
}

header img {
  width: 120px;
  max-width: 30%;
  height: auto 
}

h2 {
  color:green;
  text-align:center;
}

p {
  text-align:center;
  margin:40px;
}

p.post {
  font-size: 16px;
  border:1px;
  border-style:groove;
  padding:10px;
  text-align:left;
}

form p {
  font-size: 16px;
  padding:10px;
  text-align:left;
}

footer {
  margin-bottom: 5px;
  background-color: #b9f0d3 ;
  padding:20px;
}