header,
footer,
main {
  padding: 20px;
}

header img {
  width: 120px;
  max-width: 30%;
  height: auto 
}

header,
main {
  border-bottom: 2px solid;
  margin-bottom: 5px;
}

p.post {
  font-size: 12px;
}

footer {
  margin-bottom: 5px;
  background-color:lightgreen;
  color:white;
}