<!DOCTYPE html>
<html>
  <head>
    <title>Bike Lane Violations Reporting App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>NYC Bikers Snitching Platform</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">Active Reports</a> |
          <a href="{{ url_for('create')}}">Submit a Report</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this app is
          <a href="https://github.com/dbdesign-assignments-spring2023/web-app-ohding11"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
