{% extends 'base.html' %}

{% block container %}
<h2>Active Reports</h2>
<p>     
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Report from {{doc.location}}, {{doc.borough}} at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            </br>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            </br>
            Car Description: {{doc.color}} {{doc.model}}, {{doc.plate}}
            </br>
            Additional Notes: {{doc.notes}}
        </p>         
    </div>
    {%endfor%}
</p>
{% endblock %}